# Dependencias
node_modules/

# Variables de entorno (contraseñas, URLs, etc.)
.env

# Archivos temporales y logs
*.log
.DS_Store

# Carpeta de cobertura o pruebas automáticas
coverage/

# Archivos del sistema
Thumbs.db
